.place__link {
  display: inline-block;
  padding-top: 12px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
.place__link:hover {
  opacity: 0.8;
}
