.cover__title {
  display: inline-block;
  align-self: center;
  margin: 0;
  width: 560px;
  font-family: "Inter", "Times New Roman", "Arial";
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 3;
}
@media (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    width: auto;
  }
}
