.place {
  display: grid;
  grid-template-columns: 460px auto;
  grid-auto-rows: auto;
  gap: 48px 40px;
}
@media (max-width: 1279px) {
  .place {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
}
@media (max-width: 1023px) {
  .place {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }
}
@media (max-width: 767px) {
  .place {
    grid-template-columns: auto;
    gap: 48px 40px;
  }
}
